on:
  push:
    branches: ["main"]
permissions:
  pages: write
  id-token: write
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/configure-pages@v5
      - run: dotnet publish -o ./bin/pub
      - uses: actions/upload-pages-artifact@v4
        with: { path: ./bin/pub/wwwroot }
      - uses: actions/deploy-pages@v4
        id: deployment